<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >

<suite name="Suite1">
    
    <parameter name="appURL" value="http://www.seleniumtests.com/2015/12/test-registration-page.html"/>
    <parameter name="browser" value="*firefox" />  <!--"*firefox, *chrome, *iexplore, *android"-->
    <parameter name="runMode" value="LOCAL" />
    <parameter name="useFirefoxDefaultProfile" value="false"/>
	<test name="SeltafTest">
		<classes>
			<class name="com.seltaf.tests.SeltafTest" />
		</classes>
	</test>
</suite>