<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >

<suite name="Suite1">
    
    <listeners>
         <listener class-name="com.seltaf.customlisteners.TestRetryListener" />
         <listener class-name="com.seltaf.customlisteners.ExtentReporterNG" />
    </listeners>
    
    <parameter name="appURL" value="http://newtours.demoaut.com/mercurywelcome.php"/>
    <parameter name="browser" value="*chrome" />  <!--"*firefox, *chrome, *iexplore, *android"-->
    <parameter name="runMode" value="LOCAL" />
    <parameter name="useFirefoxDefaultProfile" value="false"/>
    <parameter name="softAssertEnabled" value="true" />
	<test name="SeltafTest">
		<classes>
			<class name="com.seltaf.tests.MercuryToursFlightBookingTest" />
			<!--<class name="com.seltaf.tests.SoftAssertionTest" />-->
		</classes>
	</test>
</suite>